.activeOption {
    /*display: flex;*/
    border: 2px solid orange;
    /*font-weight: bold;*/
    /*background: lightgreen;*/
}

.notActiveOption {
    /*display: flex;*/
    border: 2px solid teal;
    /*font-weight: bold;*/
    /*background: lightgreen;*/
}

.defaultButton {
    display: flex;
    padding: 5px 15px;
    color: teal;
    font-size: 18px;
    background: transparent;
    /*border: 1px solid teal;*/
    cursor: pointer;
}

.games {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    /*width: 25vw*/
}

/*.game{*/
/*    display: flex;*/
/*    margin-top: 5px;*/
/*    justify-content: space-between;*/
/*}*/
.game {
    display: flex;
    padding: 5px 15px;
    margin-top: 5px;
    /*color: teal;*/
    font-size: 18px;
    /*background: #a62e5c;*/
    /*border: 2px solid teal;*/
    cursor: pointer;
    justify-content: space-between;
}

.game:hover {
    /*background: #a62e5c;*/
    background: lightgoldenrodyellow;
}

.game caption {
    text-align: center;
}

.gameName {
    display: flex;
}

.gameModsNumber {
    display: flex;
    margin-left: 25px;
    color: lightseagreen;

}
