.ModsFeed {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.loading {
    text-align: center;
}

.error {
    text-align: center;
}

.noContent {
    text-align: center;
}

.modsFeedTrigger {
}
